*{
  background-color:black;
}

.Título{
  color:red;
  text-align:center;
}
.contenedor{
  display:flex;
  flex-wrap:wrap;/*los elementos fluyen en múltiples líneas*/
  flex-direction:row;
  justify-content:center;
}

.mes{
  width:350px;
  margin:0.5%;
}
 .imagen{
  width: 100%;
  transform: scale(0.7);
  -ms-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  -o-transform: scale(0.7);
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -ms-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
}

.mes:hover .imagen{
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
}
 


