*{ /*anula las distancias predefinidas por el navegador*/
  background-color:#0D0D0D;
  margin: 0;
  padding: 0;
}

.Título{
  color:#E80C7A;
  text-align:center;
  font-family: 'Oswald', sans-serif;
  font-size:4rem;
  letter-spacing:11px;
}
.contenedor{
  display:flex;
  flex-wrap:wrap;/*los elementos fluyen en múltiples líneas*/
  flex-direction:row;
  justify-content:center;
  perspective:1000;
}
.contenedor:hover .flipper{/*voltea el panel al colocar el mouse*/
  transform:rotateY(180deg);
}
.venta{
  width:100%;
  color:red;
  font-size:2rem;
  text-align:center;
  position:relative;
  letter-spacing:13px;
}

.mes,#front, .back {
  width:350px;
  margin:0.5%; 
}
.flipper{ /*velocidad del giro*/
  transition: 1.90s;
    transform-style: preserve-3d; 
}
#front, .back{ /*oculta panel de atrás durante cambio*/
  backface-visibility: hidden; 
}
.front{ /*envia al panel frontal a atrás*/
  z-index:2; 
}
.back{ /*evita que en el flip al dar vuelta se vea feo*/
  transform:rotateY(180deg); 
}
#texto{
  color:#16C9CF;
  text-align:center;
  font-family: 'Staatliches', cursive;
}
 .imagen{
  width: 100%;
  transform: scale(0.45);
  -ms-transform: scale(0.45);
  -moz-transform: scale(0.45);
  -webkit-transform: scale(0.45);
  -o-transform: scale(0.45);
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -ms-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
}

.mes:hover .imagen{
  transform: scale(1);
  -ms-transform: scale(1);
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -o-transform: scale(1);
}